<div id="main">
    <div class="container">
        <h2 id="page-title" class="page-header">
            {{nutrientname}}
        </h2>
        <div class="row">
            <div class="col-sm-8">
               
              <h3>Search</h3>
                <form action="/api/v2/ingredient/search/"   id ="search_form">

                    <input name="term" type="search" id="ingredient-search"  
                           class="ajax-form-element form-control ui-autocomplete-input"
                           placeholder="ingredient name" autocomplete="off" >
                </form>
                <h3>Ingredients </h3>
               
                <div class="list-group">
                    <a class="list-group-item" href="#/nutrition/{{nutrient.id}}"
                       ng-repeat="nutrient in filterednutrients">{{nutrient.name}}></a>
                </div>
                <pagination total-items="2780" ng-model="currentPage" max-size="maxSize" 
                            class="pagination-sm" boundary-links="true"></pagination>
                
            </div>
            <div class="col-sm-4">
                <div>
                   

                </div>
            </div>
        </div>
    </div>
</div>